/* .sec1{
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 817px;
    background-size: cover;
}
/* 
@media (max-width: 500px){
    .sec1{background-image: ;}
} */